html{
	font-family: sans-serif;
	background-color: #f9c425;
}
em{
	color: #808080;
}
#song-title{
	font-size: 36px;
	font-weight: bold;
}
#artist-name {
	font-size: 24px;
}
.script{
	color: blue;
	font-family: sans-serif;
}
.italic{
	color: red;
	font-style: italic;
}
.source {
	font-size: 12px;
}