em{
	color: #808080;
}

body{
	width: 100%;
    padding-bottom: 200vw;
    background-image: url(bass2.png);
 	background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
}

@font-face {
    	font-family: "Helvetica";
    	src: url(HelveticaNeueLTStd XBlkCn.otf);
   }

#song-title{
	padding-top: 5; margin-top: 0;
	margin-bottom: 0; padding-bottom: 0;
	font-size: 120px;
	font-weight: bold;
	color: black;
	font-family: "Helvetica";
}
#artist-name {
	font-size: 60px;
	color: red;
	font-weight: bold;
	margin-bottom: 0; padding-bottom: 0;
	font-family: "Helvetica";
}
#sub-artist{
	font-size: 43px;
	color: black;
	font-weight: bold;
	margin-top: 0;
	margin-bottom: 0; padding-bottom: 0;
	font-family: "Helvetica";
}
.script{
	padding-top: 0; margin-top: 0;
	color: black;
	font-size: 40px;
	font-weight: bold;
	font-family: "Helvetica";
}
.italic{
	padding-top: 0; margin-top: 0;
	color: black;
	font-weight: bold;
	font-size: 40px;
}
.source {
	padding-top: 0; margin-top: 0;
	font-weight: bold;
	font-size: 40px;
}

.section1{
	height: 1000px;
	color: white;
    display: block;
    float: center;
}

.section2 {
	padding-top: 0; margin-top: 0;
    height: 2009px;
}